@import "tailwindcss";
@import "tw-animate-css";

@config "../../tailwind.config.ts";

@theme {
  --font-merienda: "Indie Flower";
}
:root {
  --background: #17152f;
  --foreground: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
